body {
  margin: 0;
  padding: 20px;;
  font-family: sans-serif;
  background: #f5f5f5;
}

h1, h2, h3, h4 {
  color: #607d8b;
}

a {
  color: #00bcd4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app {
  background: #fafafa;
  border: solid 1px #e0e0e0;
  box-shadow: 0 0 20px lightgrey;
}

header {
  text-align: center;
  font-size: 1.5em;
  padding: 30px;
  background-color: #607d8b;
  color: white;
}

footer {
  text-align: center;
  background-color: #607d8b;
  color: white;
  padding: 20px;
}

.search {
  margin: 30px 10px;
  /*background-color: lightblue;*/
  text-align: center;
}

.search input {
  font-size: 1em;
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 20px lightgrey;
}
.search input[type="submit"] {
  background: #00bcd4;
  border: solid 2px #00bcd4;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.search input[type="submit"]:hover {
  border: solid 2px #00bcd4;
  background: white;
  color: #00bcd4;
  font-weight: bold;
}

.wrapper {
  display: flex;
}

.avatar {
  flex: 1;
  margin: 20px;
  text-align: center;
}

.avatar h1 {
  margin: 0;
}

.avatar img {
  width: 75%;
  border-radius: 10px;
  margin: 20px;
}

.avatar span {
  display: block;
}

.repos {
  flex: 2;
  margin-right: 20px;
}

.repos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.repos hr {
  margin-top: 30px;
}
